@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-image: linear-gradient(to right, #DAFDBA, #9AEBA3);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

h1 {
    color: rgb(0, 70, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 70, 0);
    color: white;
}

h2 {
    color: rgb(0, 126, 0);
}

.basico {
    color: #3c805e;
    font-weight: bolder;
}

.intermediario {
    color: #a19100;
}

.avancado {
    color: #b32929;
}

.destaque {
    background-color: #c5c56070;
}