@charset "UTF-8";

div {
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

div:hover {
    background-image: linear-gradient(to right, yellow, rgb(175, 175, 11));
}